<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>pirate Form</title>
  </head>
  <body>
    <form action="/pirate" method="post">
      Pirate Name: <input type="text" name="pirate[name]">
      Pirate Weight: <input type="text" name="pirate[weight]">
      Pirate Height: <input type="text" name="pirate[height]">
      Course Name: <input type="text" name="pirate[courses][][name]">
      Course Topic: <input type="text" name="pirate[courses][][topic]">
      Course Name: <input type="text" name="pirate[courses][][name]">
      Course Topic: <input type="text" name="pirate[courses][][topic]">
      <input type="submit">
    </form>
  </body>
</html>
